{% load widget_tweaks %}

<div class="row mx-0">
    <div class="col-md-6 p-1 my-auto" id="catch_param_form">

        <form method="post" novalidate>
          {% csrf_token %}

          {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
          {% endfor %}

          {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
              {% for error in form.non_field_errors %}
                {{ error }}
              {% endfor %}
            </div>
          {% endif %}

          {% for field in form.visible_fields %}
            <div class="form-group row mx-0">

                <div class="col-sm-6">
                    {{ field.label_tag }}
                </div>

                <div class="col-sm-6 px-0">
                  {% if form.is_bound %}
                    {% if field.errors %}
                      {% render_field field class="form-control is-invalid" %}
                      {% for error in field.errors %}
                        <div class="invalid-feedback">
                          {{ error }}
                        </div>
                      {% endfor %}
                    {% else %}
                      {% render_field field class="form-control is-valid" %}
                    {% endif %}
                  {% else %}
                    {% render_field field class="form-control-plaintext text-right py-0" readonly="True" %}
                  {% endif %}
                </div>

              {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
              {% endif %}
            </div>
          {% endfor %}

        {#  <button type="submit" class="btn btn-primary">Submit</button>#}
        </form>

    </div>

    <div class="col-md-6 p-1">
        {{ bokeh_div|safe }}

        {{ bokeh_script|safe }}
    </div>
</div>