{% extends 'base.html' %}
{% load leaflet_tags %}
{% load static %}

{% block title %}- K5/2748 DFE{% endblock %}

{% block header %}
    {% leaflet_js %}
    {% leaflet_css %}
    <link rel="stylesheet" href="{% static 'gaugedata/MarkerCluster.css' %}" />
    <link rel="stylesheet" href="{% static 'gaugedata/MarkerCluster.Default.css' %}" />
    <script src="{% static 'gaugedata/leaflet.markercluster-src.js' %}"></script>
    <script src="{% static 'gaugedata/leaflet.spin.min.js' %}"></script>
    <script src="{% static 'gaugedata/spin.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.2.0/bokeh.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.2.0/bokeh-widgets.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.2.0/bokeh.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.2.0/bokeh-widgets.min.css">
{% endblock %}

{% block body_block %}

    <div class="row mx-0">
        <div class="col-md-6 jumbotron py-4 mb-0">
            <h3 class="jumbotron-heading">Design Flood Estimation</h3>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Select Method</span>
                </div>
                <select class="custom-select" id="dfe_method">
                    <option value="dws">DWS Station</option>
                    <option value="latlon">Coordinate - click on map</option>
                    <option value="manual">Manual - inactive</option>
                </select>
            </div>

            <form method="POST">
                {% csrf_token %}

                <div class="input-group mb-3 dws">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Select Region</span>
                    </div>
                    <select class="custom-select" id="region">
                        <option value=""></option>
                        {% for region in regions %}
                        <option value="{{ region }}">{{ region }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="input-group mb-3 dws">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Select Station</span>
                    </div>
                    <select class="custom-select" id="station_dd">
                        <option value=""></option>
                    </select>
                </div>

                <div class="input-group mb-3 dws latlon">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Lat</span>
                    </div>
                    <input type="text" class="form-control" id="Lat" readonly>
                    <div class="input-group-append">
                        <span class="input-group-text">Lon</span>
                    </div>
                    <input type="text" class="form-control" id="Lon" readonly>
                </div>

                <div class="input-group mb-3 latlon" id="dfe_latlon_but">
                    <div class="input-group-prepend">
                        <button class="btn btn-secondary py-0" type="button" id="dfe_get_loc">
                              Use current location
                        </button>
                    </div>
                    <div class="input-group-append ml-0">
                        <button class="btn btn-secondary py-0" type="button" id="dfe_latlon_submit">
                            Extract Data
                        </button>
                    </div>
                </div>

            </form>
            <h4 class="jumbotron-heading">Only catchments for Region A have been uploaded</h4>
        </div>
        <div class="col-md-6 p-0">
            {% leaflet_map "dfe_map" callback="dfe_map_init_basic" %}
        </div>
    </div>
<div>

    <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="nav-item"><a class="nav-link rounded-0 active" href="#catch_param" aria-controls="catch_param" role="tab" data-toggle="tab">Parameters</a></li>
{#        <li role="presentation" class="nav-item"><a class="nav-link rounded-0" href="#RM" aria-controls="RM" role="tab" data-toggle="tab">RM</a></li>#}
{#        <li role="presentation" class="nav-item"><a class="nav-link rounded-0" href="#ARM" aria-controls="ARM" role="tab" data-toggle="tab">ARM</a></li>#}
{#        <li role="presentation" class="nav-item"><a class="nav-link rounded-0" href="#SDF" aria-controls="SDF" role="tab" data-toggle="tab">SDF</a></li>#}
{#        <li role="presentation" class="nav-item"><a class="nav-link rounded-0" href="#SCS" aria-controls="SCS" role="tab" data-toggle="tab">SCS</a></li>#}
{#        <li role="presentation" class="nav-item"><a class="nav-link rounded-0" href="#EMP" aria-controls="EMP" role="tab" data-toggle="tab">EMP</a></li>#}
{#        <li role="presentation" class="nav-item"><a class="nav-link rounded-0" href="#UH" aria-controls="UH" role="tab" data-toggle="tab">UH</a></li>#}
        <li role="presentation" class="nav-item"><a class="nav-link rounded-0" href="#Stats" aria-controls="Stats" role="tab" data-toggle="tab">Stats</a></li>
        <li role="presentation" class="nav-item"><a class="nav-link rounded-0" href="#Results" aria-controls="Results" role="tab" data-toggle="tab">Results</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="catch_param">
            <h5>Please select a catchment to populate</h5>
        </div>
{#        <div role="tabpanel" class="tab-pane" id="RM">#}
{#            Rational Method#}
{#        </div>#}
{#        <div role="tabpanel" class="tab-pane" id="ARM">Alternative RM</div>#}
{#        <div role="tabpanel" class="tab-pane" id="SDF">SDF method</div>#}
{#        <div role="tabpanel" class="tab-pane" id="SCS">SCS method</div>#}
{#        <div role="tabpanel" class="tab-pane" id="EMP">Empirical methods</div>#}
{#        <div role="tabpanel" class="tab-pane" id="UH">Unit Hydrograph</div>#}
        <div role="tabpanel" class="tab-pane" id="Stats">
            <div class="row mx-0">
                <div class="col-md-6 p-1 my-auto">
                    {{ bokeh_div|safe }}

                    {{ bokeh_script|safe }}
                </div>
                <div class="col-md-6 p-0">
                    <table class="table table-dark m-0">
                        <tr>
                            <th>Frequency analysis results</th>
                        </tr>
                        <tr>
                            <th>RP</th>
                            <th>Flow (m<sup>3</sup>.s<sup>-1</sup>)</th>
                        </tr>
                        <tr>
                            <th>2yr</th>
                            <td>50</td>
                        </tr>
                        <tr>
                            <th>5yr</th>
                            <td>50</td>
                        </tr>
                        <tr>
                            <th>10yr</th>
                            <td>50</td>
                        </tr>
                        <tr>
                            <th>20yr</th>
                            <td>50</td>
                        </tr>
                        <tr>
                            <th>50yr</th>
                            <td>50</td>
                        </tr>
                        <tr>
                            <th>100yr</th>
                            <td>50</td>
                        </tr>
                        <tr>
                            <th>200yr</th>
                            <td>50</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="Results">Output results here</div>
    </div>

</div>

{% endblock %}

{% block scriptblock %}
    <script>
        var mapsPlaceholder = [];
        var markersHolder = [];
        var polyHolder = [];
        var sname = "{{ name }}";
        var gdataurl = '{% url "gaugedata:gauged" %}';
        var cdataurl = '{% url "gaugedata:catchform" %}';
        var rdataurl = '{% url "gaugedata:regions" %}';
    </script>
    <script src="{% static 'gebruikers/NFSP.js' %}"></script>
{% endblock %}
