{% extends 'base.html' %}
{% load leaflet_tags %}
{% load static %}

{% block title %}- K5/2748 Gauges{% endblock %}

{% block header %}
    {% leaflet_js %}
    {% leaflet_css %}
    <link rel="stylesheet" href="{% static 'gaugedata/MarkerCluster.css' %}" />
    <link rel="stylesheet" href="{% static 'gaugedata/MarkerCluster.Default.css' %}" />
    <script src="{% static 'gaugedata/leaflet.markercluster-src.js' %}"></script>

{% endblock %}

{% block body_block %}

{% leaflet_map "gauges_map" callback="gauges_map_init_basic" %}

{% endblock %}

{% block scriptblock %}
    <script>
        var mapsPlaceholder = [];
    </script>
    <script src="{% static 'gebruikers/NFSP.js' %}"></script>
{% endblock %}
