django
numpy
gunicorn
django-heroku
djangorestframework
djangorestframework-gis
django-leaflet
django-crispy-forms
whitenoise
python-dotenv
dj-database-url
django-fullurl
bokeh
django-widget-tweaks
pandas