{% extends 'base.html' %}
{% load leaflet_tags %}
{% block body_block %}
<div class="container">

  <p>insert div here to capture "project" details, each catchment to be assessed on a project level?</p>
  <p>add javascript from here: <a href="http://getbootstrap.com/javascript/#tabs">http://getbootstrap.com/javascript/#tabs</a></p>

  <input type="submit" class="btn btn-primary" name="dfesubmit" value="Calculate">

</div>

<div>

  <ul class="nav nav-tabs nav-justified">
    <li role="presentation" class="active"><a href="#catch_param" aria-controls="catch_param" role="tab" data-toggle="tab">Catchment Parameters</a></li>
    <li role="presentation"><a href="#Map" aria-controls="Map" role="tab" data-toggle="tab">Map</a></li>
    <li role="presentation"><a href="#RM" aria-controls="RM" role="tab" data-toggle="tab">RM</a></li>
    <li role="presentation"><a href="#ARM" aria-controls="ARM" role="tab" data-toggle="tab">ARM</a></li>
    <li role="presentation"><a href="#SDF" aria-controls="SDF" role="tab" data-toggle="tab">SDF</a></li>
    <li role="presentation"><a href="#SCS" aria-controls="SCS" role="tab" data-toggle="tab">SCS</a></li>
    <li role="presentation"><a href="#EMP" aria-controls="EMP" role="tab" data-toggle="tab">EMP</a></li>
    <li role="presentation"><a href="#UH" aria-controls="UH" role="tab" data-toggle="tab">UH</a></li>
    <li role="presentation"><a href="#Stats" aria-controls="Stats" role="tab" data-toggle="tab">Stats</a></li>
    <li role="presentation"><a href="#Results" aria-controls="Results" role="tab" data-toggle="tab">Results</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="catch_param">
      Info Here
      <p>Insert option for automatic calculation...</p>

      <table>
        {{catchment_data_form.as_table}}
      </table>


    </div>
    <div role="tabpanel" class="tab-pane" id="Map">
      Map view here
      <div class="container">

        {% leaflet_map "main" callback="map_init_basic" %}

      </div>

      <script type="text/javascript">
         function map_init_basic (map, options) {
          map.invalidateSize()
         	var markers = L.markerClusterGroup();


          console.log( "first success" )
           var dataurl = '{% url "userhandler:data" %}';
           // Download GeoJSON via Ajax
           $.getJSON(dataurl, function (data) {
               // Add GeoJSON layer
               console.log( "second success" );

               var geoJsonLayer = L.geoJson(data, {
           			onEachFeature: function (feature, layer) {
           				layer.bindPopup(feature.id);
                }
           		});

               markers.addLayer(geoJsonLayer);
           });

          map.addLayer(markers);
          function invalidate_maps() {
            for (var i=0; i<window.maps.length; i++) {
              window.maps[i].invalidateSize();
            }
          }

           }
      </script>


    </div>
    <div role="tabpanel" class="tab-pane" id="RM">
      Rational Method

      <table>
        {{rm_form}}
      </table>

    </div>
    <div role="tabpanel" class="tab-pane" id="ARM">Alternative RM</div>
    <div role="tabpanel" class="tab-pane" id="SDF">SDF method</div>
    <div role="tabpanel" class="tab-pane" id="SCS">SCS method</div>
    <div role="tabpanel" class="tab-pane" id="EMP">Empirical methods</div>
    <div role="tabpanel" class="tab-pane" id="UH">Unit Hydrograph</div>
    <div role="tabpanel" class="tab-pane" id="Stats">Statistical analysis here</div>
    <div role="tabpanel" class="tab-pane" id="Results">Output results here</div>
  </div>

  <!-- <script type="text/javascript">
  $("#Map").on('shown.bs.tab',
      function invalidate_maps() {
          for (var i=0; i<window.maps.length; i++) {
              window.maps[i].invalidateSize();
          };
  });
  </script> -->

</div>


{% endblock %}
