{% extends "base.html" %}
{% load static %}
{% block title %}Projects{% endblock %}


{% block body_block %}

    <div id="main" class="d-flex flex-column">

        <div class="jumbotron py-4 mb-0">
          <h1 class="jumbotron-heading">Projects</h1>
          <p class="lead text-muted">
              The re-prioritised projects for the NFSP, led by international developments, are listed below, which also
              includes focus areas, progress made to date, or additional requirements
          </p>
        </div>

      <div class="album py-3 bg-dark flex-fill">
        <div id="project_album" class="container">
            <div class="row my-2 justify-content-center">
              {% for key, val in data.items %}
                <div id="pr{{ key }}" class="col-md-6 col-lg-4 py-2">
                  <div class="card shadow-sm h-100">
                    <div class="card-body d-flex flex-column">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5>Project {{ key }}</h5>
                            <span class="badge badge-{{ val.pri.badge }}">{{ val.pri.text }}</span>
                        </div>
                      <p class="card-text">{{ val.title }}</p>
                        <div class="collapse pb-2" id="collapseProj{{ key }}" data-parent="#project_album">
                          <div class="card card-body">
                            <h5>Description</h5>
                              <p>{{ val.desc }}</p>
                            {% if val.focus %}
                              <h5>Focus Area</h5>
                              <p>{{ val.focus }}</p>
                            {% endif %}
                          </div>
                        </div>
                        <div class="mt-auto d-flex justify-content-between align-items-center">
                          <button id="pr{{ key }}_" class="btn btn-sm btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseProj{{ key }}" aria-expanded="false" aria-controls="collapseProj{{ key }}">
                            Details
                          </button>
                        <small class="text-muted">Rainfall / Data</small>
                      </div>
                    </div>
                  </div>
                </div>

              {% endfor %}
            </div>
        </div>
      </div>

    </div>

{% block scriptblock %}
    <script src="{% static 'gebruikers/NFSP.js' %}"></script>
{% endblock %}

{% endblock %}