{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}User Login{% endblock %}
{% block bg %}
  background="/static/gebruikers/images/login.jpg" class="child_bg_class"
{% endblock %}

{% block body_block %}
    <div id="main" class="row h-100 justify-content-center align-items-center m-0">
        <div class="jumbotron m-0">
          <h3>Please Login</h3>

            <form method="post" action="{% url 'UserHandler:user_login' %}">
              {% csrf_token %}
              {# A more "HTML" way of creating the login form#}
              {{ user_login_form|crispy }}
              <br>
              <input class="btn btn-primary" type="submit" name="" value="Login">

            </form>

        </div>
    </div>
{% endblock %}
